/* Make the font bigger. */
* {
   font-size: 16px;
   line-height: 1.5;
}

p { display: block;
		line-height: 1.5;
	}

/* For footer. */
body { padding-bottom: 70px; }

  /* The sidebar menu */
.sidenav {
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #616161;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #919191;
}