<ul>
{% for event in site.data.online.acm-src %}
  {% if event.type == "Sub" %}
  {% assign anchor = event['title'] | downcase | remove: ' ' | remove: '!' | remove: '?' | remove: ':' | remove: '(' | remove: ')' | remove: ',' | remove: '"'}} %}
    <li><a href="#{{anchor}}">{{ event.title }}</a> </li>
  {% endif %}
{% endfor %}
</ul>

{% for event in site.data.online.acm-src %}

  {% if event.type == "Sub" %}

  {% assign anchor = event.title | downcase | remove: ' ' | remove: '!' | remove: '?' | remove: ':' | remove: '(' | remove: ')' | remove: ',' | remove: '"' }} %}

  <p><a name="{{anchor}}"></a></p>
  <h3>{{event.title}}</h3>
  <p><b>Authors</b>: {{event.authors}}</p>
  <p><b>Abstract</b>:</p> 
  {{event.abstract}}
  
  <div class="row">
	  <div class="col-md-3">
		<a href="{{event.doi-address}}">
		<img alt="ACM DL Paper Link" src="{{url}}{{baseurl}}/images/icons/ACM-DL.jpg" width="32" hspace="32" />
		ACM DL Paper</a>
	  </div>
	  {% if !event.supplemental-link %}
	  <div class="col-md-4">
		<a href="{{event.supplemental-link}}">
		<img alt="Supplemental Materials" src="{{url}}{{baseurl}}/images/icons/PDF_32.png" hspace="32" />
		Supplemental Materials</a>
	  </div> 
	  {% endif %}
  </div>

  {% endif %}
{% endfor %}



