<li class="dropdown">

  <a href="#" class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"> Info <span class="caret"></span></a>

  <ul class="dropdown-menu">
    <li>
      <a href="{{ '/info/cfp.html' | prepend: site.baseurl }}">
        Call for Participation
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="{{ '/info/policies.html' | prepend: site.baseurl }}">
        Policies
      </a>
    </li>
  </ul>

</li>
