<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- This page links back to {{site.baseurl}} -->
        <!-- <a class="navbar-brand" href="{{'/' | prepend: site.baseurl}}">SIGCSE {{site.data.sigcse.year}}</a> -->
        <!-- WARNING: Was "https://sigcse2019.sigcse.org/index.html", now {{site.baseurl}}. -->
       <a href="{{site.url}}">
       
          <img
            style = " float: left;"
            src = "images/logo/sigcse2020-logo-small.png"
            alt = "SIGCSE 2020 Logo - Freemont Bridge, Portland, Oregon"> 
            <!-- <h3>SIGCSE {{site.data.sigcse.year}}</h3>-->
          </a>    

           
        <!--
        <p class="navbar-text">
          {{site.data.sigcse.date.month}}
          {{site.data.sigcse.date.start}} - {{site.data.sigcse.date.end}},
          {{site.data.sigcse.location.city}}, {{site.data.sigcse.location.state}},
          {{site.data.sigcse.location.country}}
        </p>
      -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for top in site.data.topnav %}
        <li class="dropdown">

          <a href="#" class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false">
                      {{top.name}}
                      <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
          {% for item in top.subheads %}
            {% if item.subheads %}
              <li class = "dropdown">
                <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                            {{item.name}}
                            <span class="caret"></span>
                          </a>
                  <ul class = "dropdown-menu">
                    {% for subi in item.subheads %}
                    <!-- {{subi}} -->
                      <li>
                        <a href="{{ subi.link | prepend: site.baseurl  }}">
                            {{subi.name}}
                        </a>
                        </li>
                      {% if subi.divider %}
                        <li class="divider"></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
              </li> <!-- internal dropdown -->
            {% else %}
              <li>
                {% if item.link contains "http" %}
                <a href="{{item.link}}">{{item.name}}</a>
                {% else %}
                <!-- item[1]: {{item[1]}} item[0]: {{item[0]}}-->
                <a href="{{ item.link | prepend: site.baseurl }}">
                    {{item.name}}
                </a>
                {% endif %}
                </li>
            {% endif %}
            {% if item.divider %}
              <li class="divider"></li>
            {% endif %}
          {% endfor %}
          </ul>
        </li> <!-- /dropdown -->
        {% endfor %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
