<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

        </ul>
      </div>

      <div class="footer-col  footer-col-3" style = "margin-right: 30px;">
        <div class = "row">
          <div class = "text-center" style = "font-size: 75%;">
            <a href="http://www.sigcse.org/" target="_blank">
              <img
              src = "{{ '/images/acm/sigcse-logo-64.png' | prepend: site.baseurl }}"
              alt = "ACM SIGCSE Logo. Yay SIGCSE!"
            />
            SIGCSE</a> 
						&nbsp; &nbsp; &nbsp;
						<a href="https://www.acm.org/" target="_blank">
                  <img
                  src = "{{ '/images/acm/acm-logo-64.png' | prepend: site.baseurl }}"
                  alt = "ACM Logo. Long Live the Digital Library."
                  />
                ACM</a>
								<br>
            Site problems? <a href = "mailto:webmaster@sigcse2020.org" style = "font-size: 90%;">Contact the webmaster</a>.
          </div>
        </div>
      </div>
    </div>
  </div>


</footer>
