<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <link rel = "stylesheet" href = "{{ '/css/bootstrap.min.css' | prepend: site.baseurl }}">
  <link rel = "stylesheet" href = "{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="/js/flipclock.css">

  <!-- SmartMenus core CSS (required) -->
  <link href="{{'/css/sm-core-css.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
  <!-- "sm-simple" menu theme (optional, you can use your own CSS, too) -->
  <link href="{{'/css/sm-simple/sm-simple.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />

  <script type = "text/javascript" src = "{{ '/js/jquery-2.2.4.min.js' | prepend: site.baseurl }}"></script>

  <script type = "text/javascript" src = "{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

  <!-- SmartMenus jQuery plugin -->
  <script type="text/javascript" src = "{{'/js/jquery.smartmenus.min.js' | prepend: site.baseurl }}"></script>

  <!-- SmartMenus jQuery Bootstrap Addon CSS -->
<link href = '{{"/css/jquery.smartmenus.bootstrap.css" | prepend: site.baseurl }}' rel="stylesheet">
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src = '{{"/js/jquery.smartmenus.bootstrap.min.js" | prepend: site.baseurl }}'></script>

  <link rel = "stylesheet" href = "{{ '/css/site-overrides.css' | prepend: site.baseurl }}">
  <link rel = "stylesheet" href = "{{ '/css/floormapiframe.css' | prepend: site.baseurl }}">


<!-- SmartMenus jQuery init -->
<script type="text/javascript">
	$(function() {
		$('#main-menu').smartmenus({
			mainMenuSubOffsetX: -1,
			subMenusSubOffsetX: 10,
			subMenusSubOffsetY: 0
		});
	});
</script>
<script src="/js/flipclock.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165287428-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165287428-1');
</script>

</head>
