<!-- TOP LINKS -->
<ul>
{% for event in site.data.clean-presymposium %}
  {% if event["Tracks"] == include.track %}
  {% assign anchor = event['*Session Title'] | downcase | remove: ' ' | remove: '!' | remove: '?' | remove: ':' | remove: '(' | remove: ')' | remove: ',' }} %}
    <li><a href="#{{anchor}}">{{event["*Session Title"]}}</a> </li>
  {% endif %}
{% endfor %}
</ul>

<!-- DESCRIPTIONS -->
{% for event in site.data.clean-presymposium %}
  {% if event["Tracks"] == include.track %}
  {% comment %} These anchors need to be mangled. {% endcomment %}
  {% assign anchor = event['*Session Title'] | downcase | remove: ' ' | remove: '!' | remove: '?' | remove: ':' | remove: '(' | remove: ')' | remove: ',' }} %}

  <p><a name="{{anchor}}"></a></p>
  <h3>{{event['*Session Title']}}</h3>
  <ul>
    <li><b>Organizers</b>: {{event.Speakers}}</li>
    <li> <b>Date</b>: {{event["*Date"]}}</li> 
    <li> <b>Time</b>: {{event["*Time Start"]}} - {{event["*Time End"]}}</li>     
    {% if event["Room/Location"] %} 
    <li><b>Room</b>: {{event["Room/Location"] | escape}} </li>
    {% endif %}
  </ul>
  {{event.Description}}
  <hr>
  {% endif %}
{% endfor %}

{% comment %}
## For More Information

If you are interested in hosting a pre-symposium event, please contact the Pre-Conference Events Liaison (below) to request an application form.  Application forms should be submitted by <b>{{subdate}}</b> for full consideration.

Depending on the number of applications submitted and space availability at the conference hotel, not all events may be selected for inclusion.
{% endcomment %}

<p>

{% include submission-questions category="Pre-Symposium and Affiliated Events Liaison" %}

