<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include top-css.html %}
    {% include top-js.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    <!-- class container-fluid will give 100% across all devices. -->
    <!-- https://getbootstrap.com/docs/4.1/layout/grid/ -->
    
    <div class="container mt-3">
          {{ content }}
    </div>
    
    {% include bottom-js.html %}

  </body>
</html>