<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include nav/rendertopnav.html %}

    <div class="wrapper">
      <div class="row">
        <div class="col-md-10 col-md-offset-3" >
          {% if page.showTitle == true %}
            <h1>{{page.title}}</h1>
          {% endif %}
        </div> <!-- /col-md-10 content -->
      </div> <!-- /row -->
	  <div class="row">
	    <div class="col-md-2 col-md-offset-1" >
			<div class="sidenav">
				<hr>
				<a href="../online/index.html">SIGCSE 2020 Online Home</a>
				<a href="../online/supporters/index.html">SIGCSE Supporters</a>
				<a href="../online/papers.html">Papers</a>
				<a href="../online/panels-specialsessions.html">Panels & Special Sessions</a>
				<a href="../online/acm-src.html">ACM Student Research Competition</a>
				<a href="../online/bofs.html">Birds of a Feather</a>
				<a href="../online/demos.html">Demos</a>
				<a href="../online/lt.html">Lightning Talks</a>
				<a href="../online/nifty.html">Nifty Assignments</a>
				<a href="../online/posters.html">Posters</a>
		    </div>
		</div>
        <div class="col-md-7" >
          {{ content }}
        </div> <!-- /col-md-10 content -->
      </div> <!-- /row -->
    </div> <!-- /wrapper -->

    {% include footer.html %}

  </body>

</html>
